@model IEnumerable<Veterinaria.Models.Expediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de expedientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table table-stripe" id="expedientes">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MascotaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recetas)
            </th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MascotaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CitaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnostico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recetas)
                </td>
               
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $(document).ready(function () {
            $('#expedientes').DataTable();
        });

    });


</script>
