@model IEnumerable<Veterinaria.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de Mascotas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table table-stripe" id="mascotas">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    <a class="btn btn-primary" href="Reportes/GenerarExpediente/@item.Id">Expediente</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $(document).ready(function () {
            $('#mascotas').DataTable();
        });

    });


</script>
