@model Cita
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cita</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha:</label>
                <input asp-for="Fecha" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Hora">Hora: </label>
                <input asp-for="Hora" type="text" min="8:00" max="18:00" class="timepicker" />

            </div>
            <div class="form-group">
                <label class="form-label">Veterinario</label>
                <br />
                <select asp-for="VeterinarioId" class="selectpicker" data-live-search="true">

                    @foreach (Veterinario veterinario in ViewBag.veterinarios)
                    {
                        <option value="@veterinario.Id">@veterinario.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Mascota</label>
                <br />
                <select asp-for="MascotaId" class="selectpicker" data-live-search="true">

                    @foreach (Mascota mascota in ViewBag.mascotas)
                    {
                        <option value="@mascota.Id">@mascota.Nombre - @mascota.Cliente?.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Estado</label>
                <br />
                <select asp-for="Estado" class="selectpicker">

                    <option value="Pendiente">Pendiente</option>
                    <option value="Completada">Completada</option>
                    <option value="Cancelada">Cancelada</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Index">Lista de citas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    $(document).ready(function () {
        $('select').selectpicker();
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '8:00am',
            maxTime: '6:00pm',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });


</script>

