@model IEnumerable<Veterinaria.Models.Cita>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de Citas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table table-stripe" id="clientes">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                Mascota
            </th>
            <th>
               Veterinario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cita item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.Fecha))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veterinario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $(document).ready(function () {
            $('#clientes').DataTable();
        });

    });


</script>

